<section class="project-container">
  <% if current_user.current_team %>
    <section class="team-info">
      <article class="team-member">You: <%= current_user.first_name %></article>
      <article class="team-member">Your mentor: <%= current_user.current_mentor.first_name %></article>
      <article class="team-member">Your buddy: <%= current_user.current_co_student.first_name %></article>
    </section>
    <h2><%= current_user.current_project.name %></h2>
  <% else %>
    You haven't got a team yet! In the meantime, work on:
    <h2><%= @interested_project_title %></h2>

    <% @interested_project_content.each do |line| %>
      <p><%= line %></p>
    <% end %>
  <% end %>
</section>