<!DOCTYPE html>
<html>
<head>
  <title>WomenCanMakeIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="navigation-container">
  <nav class="main-navigation">
    <li>
      <%= link_to "Home", controller: "static_pages", action: "home" %>
    </li>
    <li>
      <%= link_to "About", controller: "static_pages", action: "about" %>
    </li>
    <li>
      <%= link_to "Features", controller: "static_pages", action: "features" %>
    </li>
      
    <%= render 'devise/menu/login_items' %>
  </nav>
</section>

<section class="wrapper">
  <%= yield %>
</section>

</body>
</html>
