<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>WomenCanMakeIt</title>

      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  
</head>
<body>

<section class="navigation-container">
  <nav class="main-navigation">
    <li>
      <%= link_to "Home", controller: "static_pages", action: "home" %>
    </li>
    <li>
      <%= link_to "About", controller: "static_pages", action: "about" %>
    </li>
    <li>
      <%= link_to "Features", controller: "static_pages", action: "features" %>
    </li>
      
    <%= render 'devise/menu/login_items' %>
  </nav>
</section>

<section class="wrapper">
  <%= yield %>
</section>

</body>
</html>
